h1 {
  color: #190487;
  font-size: 40px;
  font-weight: bold;
  padding-top: 14px;
}

.brand-logo {
  width: 200px;
  height: auto;
  
}
.brand-name {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 
}