.search-form {
    display: flex;
    gap: 10px;
   
    padding: 10px;
}
.search-form input {
    display: flex;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #190487;
    border-radius: 4px;
    width: 30%;
}
.search-form .primary {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #190487;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;

}

.search-form .primary:hover {
    background-color: #15036a;
}