.search-form {
    display: flex;
    gap: 10px;
   
    padding: 10px;
}
.search-form input {
    display: flex;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #190487;
    border-radius: 4px;
    width: 30%;
}
.search-form .primary {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #190487;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;

}

.search-form .primary:hover {
    background-color: #15036a;
}

.lieu-logement {
    padding: 10px;
    margin-top: 30px;
    display: grid;
   gap : 20px;
    
    
    align-items: center;
}





@media (min-width: 600px) {
    .lieu-logement {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .lieu-logement {
        grid-template-columns: repeat(3, 1fr);
    }
}
.liste-logement img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}